@import "base";

/**
 * スマホサイズCSS
 **/


/*****
* common
******/

html {
    font-size: 100%;
}

.container {
    width: 100%;
}


/************************
* Header
*************************/

header {
    position: relative;
    background-image: url("../img/background.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    //background-attachment: fixed;
    padding: 100px 0px;
    @include shadow-box(.25);
    h1 {
        display: inline-block;
        padding: 10px;
        font-family: 'Poppins', sans-serif;
        font-size: 2rem;
        color: white;
        text-shadow: black 1px 1px 0px, black -1px 1px 0px, black 1px -1px 0px, black -1px -1px 0px;
    }
}

nav#nav-pc {
    display: none;
}

nav {
    position: fixed;
    z-index: 500;
    top: 0px;
    left: 0;
    right: 0;
    background: #333;
    @include shadow-box(.75);
    ul {
        display: flex;
        margin: 0;
        padding: 0;
        list-style: none;
        li {
            width: 33.33333333%;
            text-align: center;
            @include box-sizing(border-box);
            a {
                position: relative;
                padding: 15px 7px;
                color: #FFF;
                display: block;
                &:before {
                    content: "";
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    width: 100%;
                    height: 3px;
                    opacity: 0;
                    background: #FFF;
                    text-decoration: none;
                    -moz-transition-property: opacity;
                    -o-transition-property: opacity;
                    -webkit-transition-property: opacity;
                    transition-property: opacity;
                    -moz-transition-duration: 0.2s;
                    -o-transition-duration: 0.2s;
                    -webkit-transition-duration: 0.2s;
                    transition-duration: 0.2s;
                    -moz-transition-timing-function: ease-out;
                    -o-transition-timing-function: ease-out;
                    -webkit-transition-timing-function: ease-out;
                    transition-timing-function: ease-out;
                    -moz-transition-delay: 0s;
                    -o-transition-delay: 0s;
                    -webkit-transition-delay: 0s;
                    transition-delay: 0s;
                }
                &:link,
                &:visited {
                    color: #FFF;
                }
                &:hover {
                    text-decoration: none;
                    &:before {
                        opacity: 1;
                    }
                }
            }
        }
    }
}

#page {
    padding-top: 50px;
}

#main {
    padding: 30px 0 50px 0;
    #content-wrapper {
        #content {
            section {
                margin-bottom: 60px;
                padding: 0 15px;
                h2 {
                    font-size: 2rem;
                    line-height: 3rem;
                    font-weight: normal;
                    margin: 0 0 1.5rem 0;
                    padding-left: 10px;
                    border-left: 4px solid #DDD;
                }
            }
            section#profile {}
            section#skill {
                ul.ls-skill {
                    padding: 0;
                    list-style: none;
                    &>li {
                        margin-bottom: 20px;
                        p {
                            font-size: 1.25rem;
                            margin-bottom: 1rem;
                        }
                        ul {
                            list-style: disc;
                            padding-left: 30px;
                        }
                    }
                }
            }
            section#works {
                .blc-work {
                    margin: 30px 5px;
                    padding: 10px;
                    //border: 1px solid #DDD;
                    border-radius: 4px;
                    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.1);
                    .term {
                        font-size: 0.85rem;
                    }
                    .blc-batch {
                        margin-bottom: 20px;
                        ul {
                            padding-left: 0;
                            margin: 5px 0px;
                            li {
                                display: inline-block;
                                font-size: .75rem;
                                background: #A5D6A7;
                                border-radius: 4px;
                                padding: 5px;
                                margin: 3px 3px 3px 0px;
                                white-space: nowrap;
                            }
                        }
                        &.phase {
                            ul {
                                li {
                                    background: #A5D6A7;
                                }
                            }
                        }
                        &.arch {
                            ul {
                                li {
                                    background: #BBDEFB;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity .5s ease;
}

.fade-enter,
.fade-leave-to {
    opacity: 0
}

.blc-scroll-top {
    //display: none;
    position: fixed;
    bottom: 30px;
    left: 50%;
    transform: translate(-50%, 0%);
    .scroll-top {
        text-align: center;
        z-index: 1;
        width: 50px;
        height: 50px;
        float: right;
        margin-right: 30px;
        display: inline-block;
        background: #666;
        border-radius: 5px;
        svg {
            margin: 0 auto;
            path {
                fill: white;
            }
        }
    }
}


/************************
* Footer
*************************/

footer {
    background: $footer-bg-color;
    color: #FFF;
}

.copyright {
    font-size: 0.71428571428571rem;
    padding: 7px 0;
    //@include line-top(.1, .2);
    text-align: center;
}