$base-font-color: #333;
$link-color: #bc763c;
$footer-bg-color: #333;
$window-size-min-lg: 992px;
$window-size-max-md: $window-size-min-lg - 1;
$window-size-min-md: 768px;
$window-size-max-sm: $window-size-min-md - 1;
$window-size-min-sm: 480px;
$window-size-max-xs: $window-size-min-sm - 1;