$base-font-size: 14px;
$base-line-height: 21px;
$rhythm-unit: "rem";
$base-font-color: #333;
$base-color: #00a381;
$sub-color: #cee4ae;
$accent-color-1: #f5b1aa;
$accent-color-2: #f8b862;
$link-color: #bc763c;
$ft-sitemap-bg-color: #EAEAEA;
$top-border-color: $base-color;
$global-navi-bg-color: $base-color;
$global-navi-active-bg-color: $sub-color;
$footer-bg-color: #333;
$companyinfo-table-th-color: $sub-color;
$window-size-min-lg: 992px;
$window-size-max-md: $window-size-min-lg - 1;
$window-size-min-md: 768px;
$window-size-max-sm: $window-size-min-md - 1;
$window-size-min-sm: 480px;
$window-size-max-xs: $window-size-min-sm - 1;